# Ignore model files inside the A1 directory

A1/model/
# Ignore model files inside the A2 directory

A2/model/

# Ignore model files inside the A3 directory

A3/model/

# Ignore model files inside the A4 directory
A4/model/

A4/__pycache__/


# Ignore gpt2 files inside the A5 directory
A5/gpt2/

A5/cache/

# Ignore model files inside the A6 directory 

A6/models/


# Ignore vector-store files inside the A6 directory
A6/vector_store/