# Ignore model files inside the A1 directory

A1/model/
# Ignore model files inside the A2 directory

A2/model/

# Ignore model files inside the A3 directory

A3/model/

# Ignore model files inside the A4 directory
A4/model/

A4/__pycache__/


# Ignore gpt2 files inside the A5 directory
A5/gpt2/

A5/cache/

# Ignore model files inside the A6 directory 

A6/models/


# Ignore vector-store files inside the A6 directory
A6/vector_store/

# ignore model files inside the A7 directory
A7/model/

# ignore gpt2-lora, lora_student_results, student-lora inside the A7 directory
A7/gpt2-lora/
A7/lora_student_results/
A7/student-lora/